USE [master]
GO
/****** Object:  Database [StudentDB]    Script Date: 10-May-21 1:58:24 PM ******/
CREATE DATABASE [StudentDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StudentDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\StudentDB.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'StudentDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\StudentDB_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentDB]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 10-May-21 1:58:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Student](
	[ID] [varchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[Score] [float] NULL,
	[Image] [varchar](50) NULL,
	[Location] [nvarchar](50) NULL,
	[Note] [nvarchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Student] ([ID], [Name], [Score], [Image], [Location], [Note]) VALUES (N'1', N'Hoang', 7, N'image.jpg', N'Da Lat', N'ghi chu')
INSERT [dbo].[Student] ([ID], [Name], [Score], [Image], [Location], [Note]) VALUES (N'2', N'Duyen', 8, N'image2.jp', N'Tp Hcm', N'ghi chu')
USE [master]
GO
